.about {
  padding: 0.5rem 0;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;

  font-family: "Mirza", cursive;
}

.about p {
  font-size: 1.25rem;
  line-height: 1.5;
  max-width: 500px;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  background-color: black;
}

@media (max-width: 768px) {
  .about h2 {
    font-size: 1.8rem;
  }

  .about p {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  .about h2 {
    font-size: 1.5rem;
  }

  .about p {
    font-size: 1rem;
  }
}
