.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding-top: 8rem;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation li {
  margin: 0 1.1rem;
}

.navigation a {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s;

  border-radius: 10px;
}

.navigation a:hover {
  background-color: #727272;
}

.navigation .active {
  text-decoration: underline;
}

/* Media queries */
@media (max-width: 768px) {
  .header {
    padding-top: 4rem;
  }

  .navigation li {
    margin: 0 0.6rem;
  }

  .navigation a {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .navigation ul {
    flex-direction: row;
  }

  .navigation li {
    margin: 0.5rem 0;
    padding: 5px;
  }
}
