.skills {
  padding: 0.5rem 0;
  text-align: center;
}

.skills h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills li {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
}

.skills .progress-container {
  flex-grow: 1;
  height: 10px;
  background-color: #f3f3f3;
  margin-left: 1rem;
}

.skills .progress-bar {
  height: 100%;
  background-color: #00befd;
}

.skills .skill-level {
  margin-left: 1rem;
}
